.welcomebody{
    text-align: center;
    background-image: url(rayba-background.png);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}


.mainlogo{
    height:150px;
    border-radius: 150px;
    border-color:rgb(76, 54, 54);
    border:none;
    
}


.english{
    font-weight: 900;

}
.arrow{
    height:70px;
    
}

.enter{
    color:black;
    font-weight: bolder;
    width: 170px;
    height:50px;
    border-radius: 100px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(254, 254, 0);


}

.enter:hover{
    background-color:orange;
    transform: scaleX(1.2);
    transform:scaleY(1.2);
}




.welcome {
    margin-top: 100px;
    animation: welcomeBlinkColor 1.2s ease-in-out infinite;
    font-weight: bold;
    font-size:60px;
}

@keyframes welcomeBlinkColor {
    0% {
        opacity: 1;
        color: #ff7a00;   /* Orange */
    }
    50% {
        opacity: 0;
        color: #ffffff;  /* Invisible phase */
    }
    100% {
        opacity: 1;
        color: #ff0019;  /* red*/
    }
}






.click{
    font-size: larger;
    transition: 0.10s;
    margin-bottom:0px;

}



.welcome{
    color:white;

}



.click:hover{
    color: red;;
}


.frontquote{
    color:orangered;
    font-size:40px;
    font-style: italic;
}


.different{
    font-style: italic;
}







.main2{
     border-style: solid;
     border-color: black;
     text-align: center;
     background-color:black;
     color:white;
}
.name{
    font-size:30px;
    
}
.name1{
    margin-bottom:1px;
}
.quote1{
    margin-top: 20px;
    margin-bottom:20px;
}
.buttons{
    margin-bottom:15px;
}




.instagram{
    color:black;
    font-weight: bold;
    background-color:rgb(228, 64, 95);
    width:130px;
    height:40px;
    border-radius:100px;
    font-size: large;
    border:none;
    transition: 0.5s;
    cursor:pointer;
}

.instagram:hover{
    background-color:light-pink;
    

}

    





.whatsapp{
    color:black;
    font-size: large;
    font-weight: bold;
    background-color:rgb(65, 255, 65);
    width:130px;
    height:40px;
    border-radius:100px;
    border:none;
    cursor: pointer;


}

.whatsapp:hover{
    background-color:lightgreen
}





.products{
    margin-top: 0px;
    font-weight:bold ;
    font-size: 40px;
}



body{
    text-align: center;
   

}
.productbox{
    display:block;
    height: px;
    
    
}
.main3{
    background-color:rgb(219, 235, 241);
}


.box{
    border-style: solid;
    width:150px;
    height:255px;
    display:inline-block;
    margin-right: 25px;
    margin-bottom:10px;
    border-radius: 10px;
}



footer{
    background-color: black;
    color:white;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:10px;
}





.whatsappbutton{
    text-decoration: none;
    color:black;
    font-weight: 900;
    border-style: solid;
    border-radius: 50px;
    width: 140px;
    height:40px;
    background-color:rgb(65, 255, 65);
}


.whatsappbutton:hover{
    cursor:pointer;
}




.rbimg{
    width:130px;
    height:160px;
    margin-top: 5px;
    border-radius: 5px;
    border:none;
}